.h1 {
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
  color: #D1E8E2;
  padding: 20px;
}

h1 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}

.about {
  grid-column: 1/4;
  grid-row: 2;
  border: 2px solid #FFCB9A;
  border-radius: 13px;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

@media (min-width:1024px) {
  h1 {
    font-size: 28px;
  }
}