* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  font-size: 16px;
  font-weight: 350;
  color: #D1E8E2;
}

@font-face {
  font-family: "poppins";
  src: url(fonts/poppins.ttf);
}

body {
  background-color: #2F303A;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  overflow-x: hidden;
}


header {
  grid-column: 1/4;
  grid-row: 1;
  padding-left: 10px;
  padding-top: 20px;
  border-bottom: 2px solid #FFCB9A;
  position: sticky;
  top: 0;
  background-color: #2F303A;
}

main {
  display: grid;
  grid-column: 1/4;
  grid-row: auto;
  border-bottom: 1px solid #FFCB9A;
  padding-bottom: 100px;
}



.logoimg {
  max-width: 200px;
}



footer {
  grid-column: 1/4;
  grid-row: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.nav-links {
  position: absolute;
  right: 0px;
  height: 90vh;
  top: 10vh;
  background-color: #2F303A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}

.nav-links a {
  color: #D1E8E2;
  letter-spacing: 2px;
  font-size: 14px;
  text-decoration: none;
}

.nav-links li {
  list-style: none;
  opacity: 0;
}

.burger {
  display: block;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #D1E8E2;
  margin: 5px;
  transition: all 0.5s ease;
}

.line1, .line2, .line3 {
  border-radius: 13px;
}

.nav-active {
  transform: translateX(0%);
}


@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}

.nav-desktop {
  display: none;
}


@media (min-width:1024px) {

  body {
    background-image: url(/images/andrew-draper-Q7_5VOi_xew-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
  }


  header {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
    width: auto;
    clear: none;
    padding-bottom: 10px;
    background-image: url(/images/andrew-draper-Q7_5VOi_xew-unsplash\ \(1\).jpg);
  }

  .burger {
    display: none;
  }

  .logoimg {
    max-width: 400px;
  }

  .nav-links {
    display: none;
  }

  .nav-desktop {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: 60px;
  }

  .nav-desktop a {
    color: #D1E8E2;
    letter-spacing: 2px;
    font-size: 14px;
    text-decoration: none;
  }

  .nav-desktop li {
    list-style: none;
    padding: 20px;
    margin-left: 10px;
  }


}

@media (min-width: 600px) and (max-width: 800px) {
  header {
    background-color: #2F303A;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  header {
    background-color: #2F303A;
  }
}

@media (min-width:1260px) {
  .nav-desktop {
    margin-left: 200px;
  }
}

@media (min-width:1460px) {
  .nav-desktop {
    margin-left: 400px;
  }
}